version: "3.8"

services:
  app:
    build: .
    container_name: nextjs-app
    ports:
      - "3003:3000"
    environment:
      DATABASE_URL: mysql://root:secret@mysql:3306/maintenence_report
    depends_on:
      - mysql

  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: maintenence_report
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"

volumes:
  mysql_data:
